<p id="notice"><%= notice %></p>

<h1>Ipls</h1>

<table>
  <thead>
    <tr>
      <th>P name</th>
      <th>Price</th>
      <th>Ptype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ipls.each do |ipl| %>
      <tr>
        <td><%= ipl.p_name %></td>
        <td><%= ipl.price %></td>
        <td><%= ipl.ptype %></td>
        <td><%= link_to 'Show', ipl %></td>
        <td><%= link_to 'Edit', edit_ipl_path(ipl) %></td>
        <td><%= link_to 'Destroy', ipl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ipl', new_ipl_path %>
